/* o * quer dizer que vale para página toda essas configurações de estilo */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* neste caso esse estilo vale apenas para a class="container" informada no HTML*/
.container {
    width: 100%;
    height: 100vh;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.define-percent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

label {
    padding: 10px;
    color: white;
}

input {
    font-size: 20px;
    width: 100px;
    text-align: center;
}

button {
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.progress-bar {
    background: rgb(252,252,252);
    /* Definido a regua de cores gradiente da progress bar, 1 cor inicio 2 fim.  Os deg da pra ajustar o angulo que funciona o degrade na imagem*/
    background: linear-gradient(100deg, rgb(252, 251, 251) 0%, rgba(4,32,233,1) 100%); 
    width: 600px; /* Tamanho da barra de progresso */ 
    height: 10px; /* Altura/Grossura */
    border-radius: 5px;
    margin-top: 80px;
}

/* neste caso esse estilo vale apenas para a class="Africa" que está dentro da class="progress-bar" informada no HTML*/
.progress-bar .Africa {
    height: 10px;
    border-radius: 5px;
    width: 0%; /* Lugar que fica o pipe na barra ou seja, 0 a 100% */
}

.progress-bar div .progress-group {
    height: 100px;
    width: 35px;
    background-color: transparent;  /* Remove a sombra */
    float: right;
    margin-top: -55px;
    margin-right: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 999; /* Usado para ajustar "empilhamento" de imagens, sobrepor uma sobre a outra */
}

.Africa img {
    width: 35px;
    height: 35px; 
    margin-top: 5px; 
}

.tik {
    border: 2px solid;
    height: 18px;
    right: 15px;    
}

.icon {    
    height: 35%;
    right: 35%;
    margin-top: 20%;
}

.container > h1 {
    color: white;
    font-size: 42px;
}